* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  margin: auto 0;
  background-color: var(--baggrund_50);
}

/*********** VARIABLER ***********/
html {
  --baggrund_50: #faf9f4;
  --baggrund_70: #f0eddf;
  --baggrund_80: #bfbaa4;
  --gray_80: #868686;
  --green_100: #28725c;
  --green_200: #165c48;
  --hvid_100: #ffffff;
  --sort_100: #000000;
  --nunito: "Nunito Sans", sans-serif;
  --mulish: "Mulish", sans-serif;
}

/*********** TEKST ***********/
h1,
h2,
h3,
h4 {
  font-family: var(--nunito);
  font-weight: 400;
  text-transform: uppercase;
}
h1 {
  font-size: 85px;
  color: var(--green_100);
  letter-spacing: 8.5px;
  font-weight: 300;
  text-align: center;
}
h2 {
  font-size: 38px;
  letter-spacing: 3.8px;
}
h3 {
  font-size: 28px;
  letter-spacing: 2.8px;
}
h4 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.6px;
}

.produkt {
  font-family: var(--nunito);
  font-size: 70vw;
  font-weight: 200;
  text-transform: uppercase;
  color: var(--green_100);
  letter-spacing: 8px;
}
.produktbeskrivelse {
  font-family: var(--mulish);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.7px;
}
.produktbeskrivelse_forside_mobil {
  font-family: var(--mulish);
  font-size: 10px;
  font-weight: 600;
}
.produktfarve {
  font-family: var(--mulish);
  font-size: 14px;
  font-weight: 600;
  color: var(--gray_80);
  letter-spacing: 1px;
}
.produktfarve_forside_mobil {
  font-family: var(--mulish);
  font-size: 8px;
  font-weight: 600;
  color: var(--gray_80);
}
.produkt_pris,
.ny_pris,
.gammel_pris {
  font-family: var(--mulish);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.7px;
}

p {
  font-family: var(--mulish);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 65ch;
}

.footer_overskrift {
  font-family: var(--nunito);
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.footer_tekst {
  font-family: var(--nunito);
  font-size: 15px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 1.5px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 34px;
    letter-spacing: 3.4px;
  }
  h2 {
    font-size: 25px;
    letter-spacing: 2.5px;
  }
  h3 {
    font-size: 23px;
    letter-spacing: 2.3px;
  }
  h4 {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}

/*********** SKJUL ***********/
.hide {
  display: none;
}

/*********** GRØN BOKS ***********/
.groen_boks {
  background-color: var(--green_100);
  padding-top: 116px;
  padding-bottom: 116px;
  margin-top: 150px;
  margin-bottom: 150px;
}

/*********** MARGENER ***********/

@media (min-width: 800px) {
  .margen_h_web {
    margin-right: 80px;
  }
  .margen_v_web {
    margin-left: 80px;
  }
}
@media (max-width: 800px) {
  .margen_h_mobil {
    margin-right: 38px;
  }
  .margen_v_mobil {
    margin-left: 38px;
  }
}
