.vertikal_streg {
  border-left: 1px solid black;
  height: 25px;
}

.grid_farve_pris {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 800px) {
  .grid_singleview {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .singleview_img {
    width: 488px;
    margin-right: 50px;
  }
  .singleview_tekst {
    margin-right: 50px;
  }
}
