---
import Knap from "../components/Knap.astro";
import ProduktKarruselWeb from "../components/ProduktKarruselWeb.astro";
import ForsideMainLayout from "../layout/ForsideMainLayout.astro";
---

<ForsideMainLayout>
  <div class="øverste_billeder">
    <img class="billede1" src="/img/ny_forsidebill.webp" alt="" />
    <!-- Til mobil -->
    <div class="andendel skjuldesktop">
      <img class="billede2-3" src="/img/blomster_forside.webp" alt="" />
      <img src="/img/kopperne1.webp" alt="" />
      <h1 class="keramik">Keramik</h1>
    </div>
    <!-- Til desktop -->
    <div class="kopperne skjul">
      <img src="/img/kopperne1.webp" alt="" />
      <h1 class="keramik hide1">Keramik</h1>
    </div>
    <div class="nederste skjul">
      <img class="billede2-3" src="/img/blomster_forside.webp" alt="" />
      <h1 class="keramik hide2">Keramik</h1>
    </div>
  </div>
  <h1>Hanne Bertelsen</h1>
  <ProduktKarruselWeb />
  <div class="produkter_knap">
    <a href="/produktliste">
      <Knap variant="primary" tekst="Se alle produkter" />
    </a>
  </div>
  <div class="inspiration_sektion">
    <div class="inspiration">
      <img class="item_1" src="/img/skaale_2.webp" alt="" />
      <div class="lille_billede item_2">
        <img src="/img/rillevase.webp" alt="" />
        <h3>RILLEKOLLEKTION</h3>
        <p>Rillekollektionen består af krukker, skåle og vaser, der vil pryde et hvert hjem.</p>
        <a href="/produkter/rillekollektion"> <Knap tekst="Læs mere" variant="primary" /></a>
      </div>
    </div>

    <div class="inspiration">
      <img class="item_3" src="/img/blomster_skaal.webp" alt="" />
      <div class="lille_billede item_4">
        <img src="/img/blomsterfad.webp" alt="" />
        <h3>BLOMSTERKOLLEKTION</h3>
        <p>Blomsterkollektionen består af fade og tallerkner, der skaber den perfekte sommerstemning.</p>
        <a href="/produkter/blomsterkollektion"> <Knap tekst="Læs mere" variant="primary" /></a>
      </div>
    </div>
  </div>
</ForsideMainLayout>

<style>
  h1 {
    margin-top: 1.5%;
    /* text-align: center; */
  }
  h3 {
    margin-bottom: 7px;
  }
  p {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
  }

  /* styling af placering af knap "alle produkter" */
  .produkter_knap {
    justify-content: center;
    margin: auto;
    display: flex;
    padding-top: 64px;
    padding-bottom: 139px;
  }

  /* Styling af kollektionerne på forsiden */
  .lille_billede {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  /* Placering og styling af de to forside billeder samt "keramik" */
  .andendel {
    gap: 2%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 3fr 4fr 0.5fr;
  }

  /* Mobil */
  @media (max-width: 800px) {
    /* Fjerner keramik på mobil */
    .hide2 {
      display: none;
    }
    /* Roterer keramik på mobil */
    .keramik {
      rotate: 90deg;
      letter-spacing: 5.7px;
      font-weight: 300;
      transform-origin: left top;
      margin-left: 25%;
      font-size: 25px;
    }
    /* Skjuler de to øverste billeder som ikke skal bruges på mobil - men de bruges på desktop */
    .skjul {
      display: none;
    }

    .inspiration {
      padding-bottom: 5rem;
    }
  }

  /* Desktop */
  @media (min-width: 800px) {
    h1 {
      margin-left: 2%;
      font-size: 98px;
      /* text-align: start; */
    }

    p {
      width: 60%;
      justify-content: center;
      margin: auto;
      margin-top: 14px;
      margin-bottom: 17px;
    }
    .keramik {
      rotate: 90deg;
      font-size: 57px;
      letter-spacing: 5.7px;
      margin-right: 88%;
      font-weight: 300;
    }

    .øverste_billeder {
      display: flex;
      flex-direction: row;
      gap: 3%;
    }
    /* Første billede dækker halvdelen af skærmen */
    .billede1 {
      width: 50vw;
    }

    /* Gør blomsterkrukken større, og flytter den ned */
    .billede2-3 {
      width: 20vw;
      margin-top: 45%;
    }
    /* Fjerner keramik */
    .hide1 {
      display: none;
    }
    /* Skjuler anden del på desktop */
    .skjuldesktop {
      display: none;
    }

    /* Gør at kopper billedet er i bunden på desktop */
    .kopperne {
      display: flex;
      align-self: end;
    }

    .inspiration {
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: center;
    }
    .lille_billede {
      place-content: center;
    }
    .inspiration_sektion {
      margin-bottom: 5rem;
    }

    .item_3 {
      order: 4;
      float: right;
      margin-right: 0;
    }
    .item_4 {
      order: 3;
    }
    .item_1,
    .item_3 {
      width: 100%;
    }
  }
</style>
