---
import Mainlayout from "../layout/Mainlayout.astro";
import Kontaktformular from "../components/Kontaktformular.astro";
import Knap from "../components/Knap.astro";
---

<Mainlayout>
    <section>
        <video width="100%" height="auto" loop autoplay>
                <source src="http://victoriamarkussen.dk/kea/10_redesign_eksamen/HB_stemningsvideo.mp4" type="video/mp4">
            </video>
    </section>
    <h1 class="centreret_overskrift">Kontakt</h1>
    <section class="flex_web margen_h_mobil margen_v_mobil">
        <article class="flex_aebningstider">
            <h2 class="roterende_overskrift roterende_overskrift_mobil">Åbningstider</h2>
            <p class="line_height">Mandag: Lukket<br /><br />
            Tirsdag: 11-18<br /><br />
            Onsdag: 11-18<br /><br />
            Torsdag: 11-18<br /><br />
            Fredag: 11-18<br /><br />
            Lørdag: 11-14<br /><br />
            Søndag: Lukket</p>
        </article>
        <div class="grid_web">
        <article class="margen_top_mobil">
            <h2>Adresse</h2>
            <p class="line_height_2">Sankt Paulsgade 72,<br /><br /> 1313 København K
                 <li class="maps_link"><a href="https://www.google.com/maps/place/Sankt+Pauls+Gade+72,+1313+K%C3%B8benhavn/@55.6884517,12.581312,17z/data=!3m1!4b1!4m6!3m5!1s0x4652531e832d7b67:0x2975983d2b5d5424!8m2!3d55.6884487!4d12.5838869!16s%2Fg%2F11c255hlb4?entry=ttu" target="_blank"> Find butikken på Google Maps her</a></li>
            </p>
        </article>
        
        <article class="margen_top_mobil">
            <h2>instagram</h2>
            <li class="footer_tekst"><a href="https://www.instagram.com/hanne_bertelsen/" target="_blank">
            <article class="flex_ikoner">
                <img src="/img/instagram.svg" alt="instagramikon">
                <p>hanne_berthelsen</p>
            </article>
            </a>
        </article>
        <article class="margen_top_mobil">
            <h2>Kontakt</h2>
            <article class="flex_ikoner">
                <img src="/img/telefon.svg" alt="telefonikon">
                <p>TEL. +45 2398 2309</p>
            </article>
            <article class="flex_ikoner">
                <img src="/img/mail.svg" alt="mailikon">
                <p>mail@hannebertelsen.dk</p>
            </article>
        </article>

        <article class="margen_top_mobil">
            <h2>Nyhedsbrev</h2>
            <p class="line_height_2">Tilmeld dig nyhedsbrevet og få nyheder<br /><br /> direkte i din indbakke.</p>
            <form netlify>
                <input type="text" id="mail" name="mail" required placeholder="Skriv din mailadresse" netlify />
                <Knap variant="secondary" tekst="Tilmeld"></Knap>
            </form>
        </article>
        </div>
    </section>
    <section class="groen_boks">
    <Kontaktformular></Kontaktformular>
    </section>
</Mainlayout>

<style>
    /*********** TEKST ***********/
    .centreret_overskrift {
        text-align: center;
    }
    h2{
        margin-bottom: 0;
    }
    .line_height_2{
        line-height: 15px;
    }

    /*********** LINKS ***********/
    .maps_link a{
        color: var(--green_100);
    }
    li{
        list-style: none;
    }
    li a{
        font-family: var(--mulish);
        color: var(--sort_100);
        text-decoration: none;
        list-style: none;
    }
    li a:hover{
        text-decoration: underline;
    }

    /*********** IKONER ***********/
    .flex_ikoner{
        display: flex;
        gap: 11px;
    }

    /*********** NYHEDSBREV ***********/
    input{
        background-color: var(--baggrund_50);
        font-family: var(--mulish);
        font-size: 15px;
        color: var(--gray_80);
        padding-left: 13px;
        border: 1px solid var(--sort_100);
        line-height: 2rem;
    }
    

    /*********** MOBIL ***********/
    @media (max-width: 800px){
        .line_height{
            line-height: 15px;
        }
        .margen_top_mobil{
            margin-top: 40px;
        }
    }

    /*********** DESKTOP ***********/
    @media (min-width: 800px){
        .roterende_overskrift{
            rotate: -90deg;
            transform-origin: right top;
        }
        .flex_aebningstider{
            display: flex;
        }
        .line_height{
        padding-left: 81px;
        padding-top: 20px;
    }
        .flex_web{
            display: flex;
            gap: 8%;
        }
        .grid_web{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
</style>