---
import Mainlayout from "../layout/Mainlayout.astro";
import Kontaktformular from "../components/Kontaktformular.astro";
---

<Mainlayout>
    <section class="boks">
    <Kontaktformular></Kontaktformular>
    </section>
</Mainlayout>