---
import Mainlayout from "../layout/Mainlayout.astro";
import Kontaktformular from "../components/Kontaktformular.astro";
---

<Mainlayout>
    <h1>Kontakt</h1>
    <section>
        <div>
            <h2>Åbningstider</h2>
            <p>Mandag: Lukket
            Tirsdag: 11-18
            Onsdag: 11-18
            Torsdag: 11-18
            Fredag: 11-18
            Lørdag: 11-14
            Søndag: Lukket</p>
        </div>
    </section>
    <section class="groen_boks">
    <Kontaktformular></Kontaktformular>
    </section>
</Mainlayout>