---
import Mainlayout from "../layout/Mainlayout.astro";
import Card from "../components/Card.astro";
---

<Mainlayout>
  <Card />
  <p>Sara tester her</p>
  <h1>Her står ingenting</h1>
</Mainlayout>
