---
import Mainlayout from "../layout/Mainlayout.astro";
import GreenAccordion from "../components/GreenAccordion.astro";
import BeigeAccordion from "../components/BeigeAccordion.astro";
import AntalAccordion from "../components/AntalAccordion.astro";
import "../styles/singleview.css";
---

<Mainlayout>
  <section class="grid_singleview">
    <div class="singleview_img">
      <img src="/public/img/produktliste/test_kop.jpeg" alt="Produkt" />
    </div>
    <div class="singleview_tekst">
      <h3>Høj kop med hank</h3>
      <div class="grid_farve_pris">
        <p>Farve: Gul</p>
        <div class="vertikal_streg"></div>
        <p>kr. 250,-</p>
      </div>
      <p>Porcelænskop med hank.</p>
      <p>Tåler opvaskemaskine.</p>
      <BeigeAccordion accordion_txt="Læs beskrivelse">
        <p>Højde (eksklusiv hank): 10 cm</p>
        <p>Højde (inklusiv hank): 12 cm</p>
        <p>Diameter: 8 cm</p>
      </BeigeAccordion>
      <AntalAccordion />
    </div>
  </section>
  <section class="groen_boks">
    <GreenAccordion green_accordion_txt="Levering">
      <p>Alle ordrer sendes indenfor to hverdage. Varerne bliver pakket ansvarligt, så indholdet ikke går i stykker. Pakken sendes med GLS eller Postnord.</p>
    </GreenAccordion>
    <GreenAccordion green_accordion_txt="Returnering">
      <p>Alle ordre skal returneres inde for 14 dage. Varen skal pakkes ansvarligt, så indholdet ikke går i stykker. Pakken skal returneres ved GLS eller PostNord pakkeshop</p>
    </GreenAccordion>
    <GreenAccordion green_accordion_txt="Vilkår og betingelser">
      <p>Ved køb af varer på hjemmesiden, skal navn, adresse og betalings-informationer oplyses. Specialordre kan ikke tages retur. Du har ret til at foretage reklamation på dine varer.</p>
    </GreenAccordion>
  </section>
</Mainlayout>
