---
import Mainlayout from "../layout/Mainlayout.astro";
import GreenAccordion from "../components/GreenAccordion.astro";
---

<Mainlayout>
    <p>hej</p>
<GreenAccordion></GreenAccordion>
</Mainlayout>