---
import Mainlayout from "../layout/Mainlayout.astro";
import GreenAccordion from "../components/GreenAccordion.astro";
import BeigeAccordion from "../components/BeigeAccordion.astro";
import AntalAccordion from "../components/AntalAccordion.astro";
---

<Mainlayout>
    <BeigeAccordion>
    <summary>
        <p>Læs beskrivelse</p>
    </summary>
    <p>Højde (eksklusiv hank): 10 cm</p>
    <p>Højde (inklusiv hank): 12 cm</p>
    <p>Diameter: 8 cm</p>
    </BeigeAccordion>    

    <AntalAccordion></AntalAccordion>

<GreenAccordion>
    <summary>
        <h3>Levering</h3>
    </summary>
    <p>Alle ordrer sendes indenfor to hverdage. 
Varerne bliver pakket ansvarligt, så indholdet ikke går i stykker. 
Pakken sendes med GLS eller Postnord.</p>
</GreenAccordion>
<GreenAccordion>
    <summary>
        <h3>Returnering</h3>
    </summary>
    <p>Alle ordre skal returneres inde for 14 dage.
Varen skal pakkes ansvarligt, så indholdet ikke går i stykker. 
Pakken skal returneres ved GLS eller PostNord pakkeshop</p>
</GreenAccordion>
<GreenAccordion>
    <summary>
        <h3>Vilkår og betingelser</h3>
    </summary>
    <p>Ved køb af varer på hjemmesiden, skal navn, adresse og 
betalings-informationer oplyses.
Specialordre kan ikke tages retur.
Du har ret til at foretage reklamation på dine varer.</p>
</GreenAccordion>
</Mainlayout>