---
import Mainlayout from "../layout/Mainlayout.astro";
import Knap from "../components/Knap.astro";
import BeigeAccordion from "../components/BeigeAccordion.astro";
import "../styles/vaerkstedet.css";
---

<Mainlayout>
  <section class="afsnit1">
    <img src="/img/hanne2.jpg" alt="Hanne" class="order_1" />
    <div>
      <h2>OM VIRKSOMHEDEN</h2>
      <p>Hanne Bertelsen Keramik er en enkeltmandsvirksomhed i hjertet af København. Interessen for keramik har altid været der, og hvert produkt bliver udviklet med kærlighed og finesse.<br /><br /> På værkstedet udvikles både unikaværker og keramik til daglig brug, hvor mestring af håndværket og kunstneriske udtryk går hånd i hånd. Produkterne er designet med struktur og riller, som fremhæver lerets tekstur og glasurens farver. <br /><br />Keramikken er håndlavet, og små variationer som farvepletter eller skævheder viser materialets karakter. <br /><br />Produkterne kendetegner et drømmende, men også genkendeligt univers, inspireret af naturens elementer. <br /><br />Målet er at skabe keramik, der både vækker minder og nysgerrighed.</p>
    </div>
  </section>

  <section>
    <h2>Arbejdsprocessen</h2>
  </section>
  <!-- <BeigeAccordion title="VI TAGER ANSVAR">
    <p class="accordion_txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda exercitationem illo accusamus in reiciendis voluptate atque. Quidem rem exercitationem molestias magni aliquid iusto optio, deleniti eligendi quos porro deserunt placeat.</p>
  </BeigeAccordion>
  <BeigeAccordion title="VI TAGER ANSVAR Måske">
    <p class="accordion_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, voluptatum? Error tenetur, id fugit distinctio corrupti deleniti culpa unde eligendi rerum delectus saepe veniam reiciendis excepturi natus aperiam omnis necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a excepturi odio non natus totam autem eos quaerat earum blanditiis repellendus tempore porro voluptas, eveniet, possimus ipsam culpa obcaecati. Id?</p>
  </BeigeAccordion>
  <BeigeAccordion title="VI TAGER ikke ANSVAR Måske">
    <p class="accordion_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente possimus debitis delectus, quidem distinctio quasi illum doloribus quibusdam quam, ipsum soluta reiciendis. Inventore deleniti eum aut ex voluptatibus, rem porro.</p>
  </BeigeAccordion> -->
</Mainlayout>

<Knap variant="primary" />
<Knap variant="secondary" />
<Knap variant="third" />
