---
import Mainlayout from "../layout/Mainlayout.astro";
import Knap from "../components/Knap.astro";
import BeigeAccordion from "../components/BeigeAccordion.astro";
---

<Mainlayout>
  <Knap variant="primary" />
  <Knap variant="secondary" />
  <Knap variant="third" />
  <section>
    <BeigeAccordion>
      <summary>VI TAGER ANSVAR</summary>
      <p class="accordion_txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda exercitationem illo accusamus in reiciendis voluptate atque. Quidem rem exercitationem molestias magni aliquid iusto optio, deleniti eligendi quos porro deserunt placeat.</p>
    </BeigeAccordion>
    <BeigeAccordion>
      <summary>VI TAGER ANSVAR</summary>
      <p class="accordion_txt">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, voluptatum? Error tenetur, id fugit distinctio corrupti deleniti culpa unde eligendi rerum delectus saepe veniam reiciendis excepturi natus aperiam omnis necessitatibus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum a excepturi odio non natus totam autem eos quaerat earum blanditiis repellendus tempore porro voluptas, eveniet, possimus ipsam culpa obcaecati. Id?</p>
    </BeigeAccordion>
    <BeigeAccordion>
      <summary>VI TAGER ANSVAR</summary>
      <p class="accordion_txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente possimus debitis delectus, quidem distinctio quasi illum doloribus quibusdam quam, ipsum soluta reiciendis. Inventore deleniti eum aut ex voluptatibus, rem porro.</p>
    </BeigeAccordion>
  </section>
</Mainlayout>
