
<select id="Antal" onchange="updateDefaultOption()">
    <option value="" disabled selected hidden>Antal:</option>
    <option value="1">1 stk.</option>
    <option value="2">2 stk.</option>
    <option value="3">3 stk.</option>
    <option value="4">4 stk.</option>
    <option value="5">5 stk.</option>
</select>

<style>
    select, option{
        margin-bottom: 0.5rem;
        background-color: var(--baggrund_50);
        margin: auto;
        border: 1.5px solid var(--sort_100);
        width: 292px;
        height: 42px;
        font-family: var(--mulish);
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        align-items: center;
    }
</style>
