<div class="boks">
  <img src="public/img/produktliste/test_kop.jpeg" class="center_img" alt="Produktbillede" />
  <div class="tekstfelt">
    <div class="grid_1-1">
      <p class="produktbeskrivelse">Høj kop med hank</p>
      <p class="produkt_pris">kr. 250,-</p>
    </div>
    <p class="produktfarve">Gul</p>
  </div>
</div>

<style>
  img {
    max-width: 235px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 15px; */
  }
  .boks {
    background-color: white;
    width: 300px;
    height: 300px;
    text-align: left;
  }
  .grid_1-1 {
    display: flex;
    justify-content: space-between;
  }

  .tekstfelt {
    margin-left: 20px;
    margin-right: 20px;
  }
  .produktbeskrivelse {
    margin: 0;
  }
  .produkt_pris {
    margin: 0;
  }
  .produktfarve {
    margin: 0;
  }
  .center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
