---
import Knap from "./Knap.astro";
---

<footer>
  <section class="footer_grid">
    <div class="faellesskabet">
      <h4 class="footer_overskrift">BLIV EN DEL AF FÆLLESSKABET</h4>
      <p>Tilmeld dig vores nyhedsbrev her og få 10% på din første ordre, eksklusive tilbud og nyheder direkte i din indbakke.</p>
      <form class="form_felt" netlify>
        <input type="text" id="mail" name="mail" required placeholder="Skriv din mailadresse" netlify />
        <Knap tekst="Tilmeld" variant="secondary" />
      </form>
    </div>

    <div>
      <ul>
        <li class="footer_overskrift">HANNE BERTELSEN KERAMIK</li>
        <li class="footer_tekst"><a href="/produkter/kopper">SHOP</a></li>
        <li class="footer_tekst"><a href="/produkter/blomsterkollektion">KOLLEKTION</a></li>
        <li class="footer_tekst"><a href="/vaerkstedet">VÆRKSTEDET</a></li>
        <li class="footer_tekst"><a href="/kontakt">KONTAKT</a></li>
        <ul class="linje2 footer_luft">
          <li class="footer_overskrift">ADRESSE</li>
        </ul>
        <li>
          <a href="https://www.google.com/maps/place/Sankt+Pauls+Gade+72,+1313+K%C3%B8benhavn/@55.6884517,12.581312,17z/data=!3m1!4b1!4m6!3m5!1s0x4652531e832d7b67:0x2975983d2b5d5424!8m2!3d55.6884487!4d12.5838869!16s%2Fg%2F11c255hlb4?entry=ttu" target="_blank"
            >SANKT PAULSGADE 72, <br />
            1313 KØBENHAVN K</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul>
        <li class="footer_overskrift">ÅBNINGSTIDER</li>
        <li class="footer_tekst">MANDAG: LUKKET</li>
        <li class="footer_tekst">TIRSDAG-FREDAG: 11-18</li>
        <li class="footer_tekst">LØRDAG: 11-14</li>
        <ul class="linje2 footer_luft">
          <li class="footer_overskrift">KONTAKT</li>
        </ul>
        <li class="footer_tekst"><a href="#">TEL. +45 2398 2309</a></li>
        <li class="footer_tekst"><a href="#">MAIL@HANNEBERTELSEN.DK</a></li>
        <li class="footer_tekst"><a href="https://www.instagram.com/hanne_bertelsen/" target="_blank">INSTAGRAM /</a><a href="https://www.facebook.com/HanneBertelsenKeramik" target="_blank"> FACEBOOK</a></li>
      </ul>
    </div>
  </section>
  <div>
    <div class="nederste_linje">
      <p class="cvr_txt">CVR: 12 34 56 78</p>

      <div class="betalingsmetoder">
        <ul>
          <li>
            <img src="/img/visa.svg" alt="" />
            <img src="/img/dk.svg" alt="" />
            <img src="/img/mastercard.svg" alt="" />
            <img src="/img/mobilepay.svg" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  footer {
    background-color: var(--baggrund_70);
    padding-top: 5%;
  }
  .footer_grid {
    margin-bottom: 3rem;
    margin-right: 6%;
    margin-left: 6%;
  }

  .footer_luft {
    margin-top: 5%;
  }
  /* -------------- Link styling ------------ */
  a {
    text-decoration: none;
  }
  /* Fjerner link farven */
  a {
    color: inherit;
  }

  /* -------------- Liste styling ------------ */
  ul {
    list-style: none;
    margin-bottom: 1rem;
  }
  li {
    font-family: var(--nunito);
    line-height: 2rem;
  }
  h4 {
    display: inline;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: var(--nunito);
    font-size: 15px;
  }

  /* -------------- Nyhedsbrev sektion -------------- */
  /* ---- Tekst om nyhedsbrevet ---- */
  .faellesskabet {
    padding-right: 5%;
    margin-right: 5%;
    display: inline;
  }
  .form_felt {
    box-sizing: border-box;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1%;
  }
  .form_felt input[type="text"] {
    width: 300px;
    line-height: 2rem;
    font-family: var(--mulish);
    background-color: var(--baggrund_70);
    border: 1px solid #000;
    padding-left: 9px;
  }

  /* ----- Tilmeld knap ----- */
  .Tilmeld {
    background-color: var(--green_100);
    color: var(--baggrund_70);
    border-radius: 3px;
    border: none;
    margin-top: 1rem;
    width: 100px;
    line-height: 2rem;
    font-size: 15px;
    font-family: var(--nunito);
  }

  /* -------------- Nederste sektion af footer -------------- */
  .nederste_linje {
    background-color: var(--green_100);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1.5rem;
  }

  .cvr_txt {
    color: var(--baggrund_70);
  }

  ul .linje2 {
    margin-bottom: 0;
  }

  /* --------------------------- FOOTER DESKTOP ------------------------ */
  @media (min-width: 800px) {
    .footer_grid {
      padding-bottom: 2rem;
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-around;
      margin-right: 0;
    }

    /* Flex: 1, gør at hvert valgt <div> element vil tage lige meget plads inden for deres flex container (.footer_grid), 
      hvilket betyder, at de vil blive jævnt fordelt. */
    .footer_grid div {
      flex: 1;
    }

    /* Styling af hover over links */
    li a:hover {
      text-decoration: underline;
    }

    /* Beskrivelsen til nyhedsbrevet */
    .faellesskabet p {
      line-height: 1.5rem;
      margin-top: 0.8rem;
      width: 45cqh;
    }
    .form_felt {
      margin-top: 5%;
    }

    /* Bredden på form feltet på desktop */
    .form_felt input[type="text"] {
      width: 250px;
    }
    /* Tilmeld knap */
    .Tilmeld {
      border-radius: 1px;
      margin-top: 1.5rem;
    }
  }
</style>
