---
import Knap from "./Knap.astro";
---

<footer>
  <section class="footer_grid">
    <div class="faellesskabet">
      <h4 class="footer_overskrift">BLIV EN DEL AF FÆLLESSKABET</h4>
      <p>Tilmeld dig vores nyhedsbrev her og få 10% på din første ordre, eksklusive tilbud og nyheder direkte i din indbakke.</p>
      <form class="form_felt" netlify>
        <input type="text" id="mail" name="mail" required placeholder="Skriv din mailadresse" netlify />
        <Knap tekst="Tilmeld" variant="secondary" />
      </form>
    </div>

    <div>
      <ul>
        <h4 class="footer_overskrift">HANNE BERTELSEN KERAMIK</h4>
        <li class="footer_tekst"><a href="/vaerkstedet">SHOP</a></li>
        <li class="footer_tekst"><a href="#">KOLLEKTION</a></li>
        <li class="footer_tekst"><a href="/vaerkstedet">VÆRKSTEDET</a></li>
        <li class="footer_tekst"><a href="/kontakt">KONTAKT</a></li>
        <div class="footer_luft">
          <h4 class="linje2 footer_overskrift">ADRESSE</h4>
        </div>
        <li><a href="https://www.google.com/maps/place/Sankt+Pauls+Gade+72,+1313+K%C3%B8benhavn/@55.6884517,12.581312,17z/data=!3m1!4b1!4m6!3m5!1s0x4652531e832d7b67:0x2975983d2b5d5424!8m2!3d55.6884487!4d12.5838869!16s%2Fg%2F11c255hlb4?entry=ttu" target="_blank">Sankt Paulsgade 72, 1313 K</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <h4 class="footer_overskrift">ÅBNINGSTIDER</h4>
        <li class="footer_tekst">MANDAG: LUKKET</li>
        <li class="footer_tekst">TIRSDAG-FREDAG: 11-18</li>
        <li class="footer_tekst">LØRDAG: 11-14</li>
        <div class="footer_luft">
          <h4 class="linje2 footer_overskrift">KONTAKT</h4>
        </div>
        <li class="footer_tekst"><a href="#">TEL. +45 2398 2309</a></li>
        <li class="footer_tekst"><a href="#">MAIL@HANNEBERTELSEN.DK</a></li>
        <li class="footer_tekst"><a href="https://www.instagram.com/hanne_bertelsen/" target="_blank">INSTAGRAM /</a><a href="https://www.facebook.com/HanneBertelsenKeramik" target="_blank"> FACEBOOK</a></li>
      </ul>
    </div>
  </section>
  <div>
    <div class="nederste_linje">
      <p class="cvr_txt">CVR: 12 34 56 78</p>

      <div class="betalingsmetoder">
        <ul>
          <li>
            <img src="public/img/visa.svg" alt="" />
            <img src="public/img/dk.svg" alt="" />
            <img src="public/img/mastercard.svg" alt="" />
            <img src="public/img/mobilepay.svg" alt="" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style>
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  a {
    text-decoration: none;
  }

  /* Fjern farven */
  a {
    color: inherit;
  }
  a:visited {
    text-decoration: none;
    color: black;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
    font-family: var(--nunito);
  }
  .nederste_linje {
    background-color: var(--green_100);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.75rem;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 1.5rem;
  }
  .cvr_txt {
    color: var(--baggrund_70);
  }
  footer {
    background-color: var(--baggrund_70);
    padding-top: 5%;
  }

  li a:hover {
    text-decoration: underline;
  }
  h4 {
    display: inline;
    font-weight: 800;
    letter-spacing: 1.5px;
    font-family: var(--nunito);
  }
  .footer_grid {
    margin-bottom: 3rem;
  }

  @media (min-width: 800px) {
    /* ---------------------------Footer Desktop------------------------ */
    .footer_grid {
      /* display: grid;
      grid-template-columns: 1fr 1fr 1fr; */
      margin-left: 90px;
      padding-bottom: 2rem;
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-between;
      justify-content: space-around;
    }

    .footer_grid > div {
      flex: 1;
      margin: 0 10px;
    }

    footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .faellesskabet {
      padding-right: 5%;
      margin-right: 5%;
    }

    .faellesskabet p {
      line-height: 1.5rem;
      margin-top: 0.8rem;
    }

    .form_felt {
      margin-top: 5%;
    }

    .form_felt input[type="text"] {
      width: 250px;
      line-height: 2rem;
      font-family: var(--mulish);
    }
    .Tilmeld {
      background-color: var(--green_100);
      border-radius: 1px;
      font-family: var(--nunito);
      border: none;
      margin-top: 1.5rem;
      width: 100px;
      line-height: 2rem;
      font-size: 15px;
      color: var(--baggrund_70);
    }

    ul {
      list-style: none;
      text-decoration: none;
      color: black;
    }
    li {
      text-decoration: none;
      color: black;
      line-height: 2rem;
    }
    li a {
      font-family: var(--nunito);
    }
    li h4 {
      line-height: 1.5rem;
    }

    .footer_luft {
      margin-top: 5%;
    }
  }

  @media (max-width: 768px) {
    /* -------------footer mobil------------*/

    h4 {
      font-size: 15px;
    }
    .faellesskabet p {
      font-family: var(--mulish);
    }
    .faellesskabet {
      display: inline;
    }

    .faellesskabet {
      padding-right: 5%;
      margin-right: 5%;
    }

    .footer_grid {
      padding-right: 6%;
      padding-left: 6%;
    }

    .form_felt {
      box-sizing: border-box;
      margin-top: 1rem;
      margin-bottom: 2rem;
      display: flex;
      gap: 1%;
    }
    .form_felt input[type="text"] {
      width: 300px;
      line-height: 2rem;
      font-family: var(--mulish);
    }

    .Tilmeld {
      background-color: var(--green_100);
      color: white;
      border-radius: 3px;
      border: none;
      margin-top: 1rem;
      width: 100px;
      line-height: 2rem;
      font-size: 15px;
      font-family: var(--nunito);
    }

    ul {
      list-style: none;
      text-decoration: none;
      color: black;
      margin-bottom: 1rem;
    }
    li {
      text-decoration: none;
      color: black;
      line-height: 2rem;
    }
    li h4 {
      line-height: 0;
      margin-bottom: 1rem;
    }
    .footer_luft {
      margin-top: 5%;
    }
  }
</style>
