---

---

<!-- For forklaringer til koden gå til ForsideHeader -->
<header>
  <div class="logo_header">
    <a href="/"> <img src="/img/gron_logo.svg" alt="Logo" /></a>
  </div>
  <div class="burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <nav>
    <ul class="menu">
      <li class="dropdown">
        <a class="dropdown_button" href="#"
          >SHOP<svg class="pile" xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="none">
            <path d="M10 0.311705C10 0.232632 9.96643 0.15171 9.90127 0.0910258C9.77095 -0.0303421 9.55771 -0.0303421 9.42739 0.0910258L4.96693 4.24513L0.571627 0.15171C0.441307 0.0303421 0.228058 0.0303421 0.0977392 0.15171C-0.0325804 0.273078 -0.0325804 0.471681 0.0977392 0.593049L4.72998 4.90897C4.8603 5.03034 5.07355 5.03034 5.20387 4.90897L9.90127 0.534204C9.96841 0.471681 10 0.392617 10 0.311705Z" fill="#28725C"></path>
          </svg></a
        >
        <div class="dropdown_content">
          <a class="list_tekst_kategori" href="/produktliste">ALLE PRODUKTER</a>
          <a class="list_tekst_kategori" href="/produkter/kopper">KOPPER</a>
          <a class="list_tekst_kategori" href="/produkter/vaser">VASER</a>
          <a class="list_tekst_kategori" href="/produkter/fade">FADE</a>
          <a class="list_tekst_kategori" href="/produkter/skaale">SKÅLE</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropdown_button" href="#"
          >KOLLEKTION<svg class="pile" xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 10 5" fill="none">
            <path d="M10 0.311705C10 0.232632 9.96643 0.15171 9.90127 0.0910258C9.77095 -0.0303421 9.55771 -0.0303421 9.42739 0.0910258L4.96693 4.24513L0.571627 0.15171C0.441307 0.0303421 0.228058 0.0303421 0.0977392 0.15171C-0.0325804 0.273078 -0.0325804 0.471681 0.0977392 0.593049L4.72998 4.90897C4.8603 5.03034 5.07355 5.03034 5.20387 4.90897L9.90127 0.534204C9.96841 0.471681 10 0.392617 10 0.311705Z" fill="#28725C"></path>
          </svg></a
        >
        <div class="dropdown_content margin_2">
          <a class="list_tekst_kollektion" href="/produkter/blomsterkollektion">BLOMSTERKOLLEKTION</a>
          <a class="list_tekst_kollektion" href="/produkter/rillekollektion">RILLEKOLLEKTION</a>
          <a class="list_tekst_kollektion" href="/produkter/prikkollektion">PRIKKOLLEKTION</a>
        </div>
      </li>
      <li class="menupunkt"><a href="/vaerkstedet">VÆRKSTEDET</a></li>
      <li class="menupunkt"><a href="/kontakt">KONTAKT</a></li>
    </ul>
    <div class="head_icons">
      <iconify-icon icon="ph:heart-thin">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path
            d="M12.8652 2.69995C11.4547 2.69995 10.2198 3.32447 9.44999 4.38011C8.68021 3.32447 7.44528 2.69995 6.03481 2.69995C4.91205 2.70125 3.83564 3.16107 3.04174 3.97852C2.24783 4.79597 1.80125 5.9043 1.79999 7.06035C1.79999 11.9834 8.88922 15.9682 9.19112 16.1328C9.27069 16.1769 9.35963 16.2 9.44999 16.2C9.54034 16.2 9.62929 16.1769 9.70886 16.1328C10.0108 15.9682 17.1 11.9834 17.1 7.06035C17.0987 5.9043 16.6521 4.79597 15.8582 3.97852C15.0643 3.16107 13.9879 2.70125 12.8652 2.69995ZM9.44999 14.9935C8.20276 14.2452 2.89284 10.8363 2.89284 7.06035C2.89393 6.20269 3.2253 5.38046 3.8143 4.774C4.4033 4.16754 5.20184 3.82633 6.03481 3.82522C7.36331 3.82522 8.47871 4.55383 8.94454 5.7241C8.98571 5.82729 9.05574 5.91556 9.14574 5.97767C9.23574 6.03979 9.34164 6.07295 9.44999 6.07295C9.55833 6.07295 9.66424 6.03979 9.75423 5.97767C9.84423 5.91556 9.91427 5.82729 9.95543 5.7241C10.4213 4.55172 11.5367 3.82522 12.8652 3.82522C13.6981 3.82633 14.4967 4.16754 15.0857 4.774C15.6747 5.38046 16.006 6.20269 16.0071 7.06035C16.0071 10.8307 10.6958 14.2445 9.44999 14.9935Z"
            fill="#28725C"></path>
        </svg>
      </iconify-icon>
      <iconify-icon icon="basket">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M1.27108 6.87771C1.24495 6.74999 1.24295 6.61666 1.26521 6.48785C1.28748 6.35903 1.33343 6.23813 1.39958 6.13433C1.46572 6.03053 1.55032 5.94656 1.64694 5.8888C1.74356 5.83105 1.84966 5.80103 1.95718 5.80103H14.2929C14.4003 5.80106 14.5063 5.83107 14.6029 5.88878C14.6995 5.94648 14.784 6.03037 14.8501 6.13406C14.9163 6.23776 14.9622 6.35854 14.9846 6.48724C15.0069 6.61595 15.005 6.74918 14.979 6.87685L13.698 13.1508C13.6215 13.5255 13.4449 13.8583 13.1963 14.096C12.9477 14.3338 12.6413 14.463 12.3258 14.463H3.92424C3.60878 14.463 3.30239 14.3338 3.05376 14.096C2.80514 13.8583 2.62854 13.5255 2.55204 13.1508L1.27108 6.87771Z" stroke="#28725C" stroke-width="1.1" stroke-linejoin="round"></path>
          <path d="M6.0031 9.26578V10.9982M10.247 9.26578V10.9982M3.88113 5.80097L6.71042 0.60376M12.369 5.80097L9.53971 0.60376" stroke="#28725C" stroke-width="1.1" stroke-linecap="round"></path>
        </svg>
      </iconify-icon>
    </div>
  </nav>
</header>
<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
      link.addEventListener("click");
    });
  });
  document.addEventListener("DOMContentLoaded", function () {
    const hjerteKnap = document.querySelector(".hjerte_knap");
    hjerteKnap.addEventListener("click", function () {
      hjerteKnap.classList.toggle("fyldt");
    });
  });
</script>

<style>
  /* -------------- MOBILE -------------- */
  @media (max-width: 800px) {
    /*********** HEADER STYLING ***********/
    header {
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4px 20px;
      position: sticky;
    }
    header a {
      text-decoration: none;
      font-size: 15px;
      font-family: var(--nunito);
      color: var(--green_100);
    }
    .menu {
      display: block;
      list-style: none;
      padding: 0;
    }
    .dropdown_button,
    .menupunkt {
      font-weight: 800;
    }
    .dropdown_button {
      display: flex;
      white-space: nowrap;
    }
    .dropdown_content {
      display: flex;
      flex-direction: column;
      margin-top: 8px;
      gap: 8px;
    }
    nav li {
      margin: 0;
      padding: 0;
    }
    .menu {
      display: none;
    }
    nav.active .menu {
      display: block;
      background-color: var(--baggrund_70);
      position: absolute;
      left: 0;
      top: 75px;
      height: 5000%;
      z-index: 1;
      width: 100%;
    }
    nav.active header {
      background-color: var(--baggrund_70);
    }
    nav.active .menu li {
      margin-left: 20px;
      margin-top: 8px;
      padding-top: 10px;
      display: block;
    }

    /*********** LOGO ***********/
    .logo_header img {
      width: 30%;
    }
    .logo_header {
      order: 2;
      flex: 1;
    }

    /*********** BURGER ***********/
    .burger {
      cursor: pointer;
      flex: 1;
    }
    .burger .line {
      width: 15%;
      height: 2px;
      background-color: var(--green_100);
      margin-bottom: 4px;
      transition: 0.2s linear;
      border-radius: 5px;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    /*********** IKONER ***********/
    .line {
      margin-right: 50%;
    }
    .head_icons {
      display: flex;
      position: absolute;
      right: 10px;
      gap: 11px;
      flex: 1;
    }
    .pile {
      display: none;
    }
  }

  /* -------------- DESKTOP -------------- */
  @media (min-width: 800px) {
    /*********** HEADER STYLING ***********/
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--nunito);
      letter-spacing: 3px;
      text-transform: uppercase;
      color: var(--green_100);
      width: 100%;
      padding: 0.5% 2% 0.5% 1%;
    }
    /* Når man hover over headeren skiftes baggrundfarven til at være mørkere */
    header:hover {
      background-color: var(--baggrund_70);
    }
    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    /* Laver afstand mellem menupunkterne */
    nav ul li {
      display: inline-block;
      margin-right: 35px;
    }
    nav a {
      text-decoration: none;
      list-style: none;
      color: var(--green_100);
    }
    .menu {
      display: flex;
      padding-right: 53px;
    }
    .list_tekst_kategori {
      font-size: 13px;
      padding-left: 57vw;
    }
    .list_tekst_kollektion {
      font-size: 13px;
      padding-left: 64.5vw;
    }
    .head_icons {
      display: flex;
      gap: 11px;
      flex: 1;
    }

    /*********** DROPDOWN ***********/
    .dropdown_content {
      display: none;
      position: absolute;
      background-color: var(--baggrund_70);
      height: 197px;
      line-height: 2rem;
      z-index: 1000;
      box-sizing: border-box; /* Sikrer, at padding er inkluderet i bredde/højde */
      padding-top: 1%;
    }
    .dropdown_content a {
      display: block;
      text-decoration: none;
      color: var(--green_100);
      white-space: nowrap; /* Sikrer, at tekst ikke brydes */
    }
    .dropdown_content a:hover {
      text-decoration: underline;
    }
    /* Bestemmer at når dropdown er aktiv, er baggrundsfarven mørk */
    .dropdown:hover .dropdown_content {
      background-color: var(--baggrund_70); /* Samme baggrundsfarve */
    }
    .dropdown_button {
      position: relative; /* Til relativ positionering */
      padding-right: 20px; /* Juster pladsen til pilen */
      display: flex;
    }

    /* Tilføj denne regel for at rotere pilen baseret på dropdown-tilstand */
    .dropdown_button svg {
      transition: transform 0.3s ease; /* Tilføj en glat overgang for rotationen */
      margin: auto;
      margin-left: 4px;
    }

    /* Roter pilen, når dropdown-indholdet er synligt */
    .dropdown:hover .dropdown_button svg {
      transform: rotate(180deg); /* Roter pilen 180 grader */
    }
    .dropdown:hover .dropdown_content {
      display: block;
      left: 0;
      right: 0; /* Sikrer, at dropdown-content fylder hele bredden af skærmen */
    }

    /*********** LOGO ***********/
    .logo_header {
      flex: 1;
      width: 7%;
      position: relative; /*For at kunne give en z-index*/
      z-index: 10000; /*For at placere logo foran dropdown-boks*/
    }
  }
</style>
