---

---

<header>
  <div class="logo_header">
    <a href="/">
      <svg width="72" height="108" viewBox="0 0 72 108" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.268 44V12.98H6.116V27.412H27.28V12.98H29.128V44H27.28V29.128H6.116V44H4.268Z" fill="#28725C"></path>
        <path
          d="M27.268 64V32.98H38.576C41.832 32.98 44.34 33.684 46.1 35.092C47.86 36.4707 48.74 38.4653 48.74 41.076C48.74 43.0707 48.124 44.7133 46.892 46.004C45.6893 47.2947 44.0467 48.1453 41.964 48.556V47.94C44.2813 48.1453 46.1 48.908 47.42 50.228C48.7693 51.548 49.444 53.3373 49.444 55.596C49.444 58.3533 48.564 60.4507 46.804 61.888C45.044 63.296 42.5067 64 39.192 64H27.268ZM29.116 62.284H39.148C41.6707 62.284 43.6947 61.7853 45.22 60.788C46.7453 59.7907 47.508 58.104 47.508 55.728C47.508 53.3227 46.7453 51.636 45.22 50.668C43.6947 49.6707 41.6707 49.172 39.148 49.172H29.116V62.284ZM29.116 47.456H38.488C41.216 47.456 43.284 46.9133 44.692 45.828C46.1 44.7133 46.804 43.1293 46.804 41.076C46.804 38.9933 46.1 37.4093 44.692 36.324C43.284 35.2387 41.216 34.696 38.488 34.696H29.116V47.456Z"
          fill="#28725C"></path>
      </svg>
    </a>
  </div>
  <nav>
    <ul class="menu">
      <li class="dropdown">
        <a class="dropdown_button" href="#">SHOP</a>
        <div class="dropdown_content">
          <a href="/produktliste">ALLE PRODUKTER</a>
          <a href="#">KOPPER</a>
          <a href="#">VASER</a>
          <a href="#">FADE</a>
          <a href="#">SKÅLE</a>
          <a href="#">LYSESTAGER</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropdown_button" href="#">KOLLEKTION</a>
        <div class="dropdown_content">
          <a href="#">BLOMSTERKOLLEKTION</a>
          <a href="#">RILLEKOLLEKTION</a>
          <a href="#">PRIKKOLLEKTION</a>
        </div>
      </li>
      <li><a href="/vaerkstedet">VÆRKSTEDET</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
    <div class="head_icons">
      <iconify-icon icon="ph:heart-thin">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path
            d="M12.8652 2.69995C11.4547 2.69995 10.2198 3.32447 9.44999 4.38011C8.68021 3.32447 7.44528 2.69995 6.03481 2.69995C4.91205 2.70125 3.83564 3.16107 3.04174 3.97852C2.24783 4.79597 1.80125 5.9043 1.79999 7.06035C1.79999 11.9834 8.88922 15.9682 9.19112 16.1328C9.27069 16.1769 9.35963 16.2 9.44999 16.2C9.54034 16.2 9.62929 16.1769 9.70886 16.1328C10.0108 15.9682 17.1 11.9834 17.1 7.06035C17.0987 5.9043 16.6521 4.79597 15.8582 3.97852C15.0643 3.16107 13.9879 2.70125 12.8652 2.69995ZM9.44999 14.9935C8.20276 14.2452 2.89284 10.8363 2.89284 7.06035C2.89393 6.20269 3.2253 5.38046 3.8143 4.774C4.4033 4.16754 5.20184 3.82633 6.03481 3.82522C7.36331 3.82522 8.47871 4.55383 8.94454 5.7241C8.98571 5.82729 9.05574 5.91556 9.14574 5.97767C9.23574 6.03979 9.34164 6.07295 9.44999 6.07295C9.55833 6.07295 9.66424 6.03979 9.75423 5.97767C9.84423 5.91556 9.91427 5.82729 9.95543 5.7241C10.4213 4.55172 11.5367 3.82522 12.8652 3.82522C13.6981 3.82633 14.4967 4.16754 15.0857 4.774C15.6747 5.38046 16.006 6.20269 16.0071 7.06035C16.0071 10.8307 10.6958 14.2445 9.44999 14.9935Z"
            fill="#28725C"></path>
        </svg>
      </iconify-icon>
      <iconify-icon icon="basket">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
          <path d="M1.27108 6.87771C1.24495 6.74999 1.24295 6.61666 1.26521 6.48785C1.28748 6.35903 1.33343 6.23813 1.39958 6.13433C1.46572 6.03053 1.55032 5.94656 1.64694 5.8888C1.74356 5.83105 1.84966 5.80103 1.95718 5.80103H14.2929C14.4003 5.80106 14.5063 5.83107 14.6029 5.88878C14.6995 5.94648 14.784 6.03037 14.8501 6.13406C14.9163 6.23776 14.9622 6.35854 14.9846 6.48724C15.0069 6.61595 15.005 6.74918 14.979 6.87685L13.698 13.1508C13.6215 13.5255 13.4449 13.8583 13.1963 14.096C12.9477 14.3338 12.6413 14.463 12.3258 14.463H3.92424C3.60878 14.463 3.30239 14.3338 3.05376 14.096C2.80514 13.8583 2.62854 13.5255 2.55204 13.1508L1.27108 6.87771Z" stroke="#28725C" stroke-width="1.1" stroke-linejoin="round"></path>
          <path d="M6.0031 9.26578V10.9982M10.247 9.26578V10.9982M3.88113 5.80097L6.71042 0.60376M12.369 5.80097L9.53971 0.60376" stroke="#28725C" stroke-width="1.1" stroke-linecap="round"></path>
        </svg>
      </iconify-icon>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
  <script>
    const burger = document.querySelector(".burger");
    const nav = document.querySelector("nav");
    const menu = document.querySelector(".menu");
    const links = document.querySelectorAll(".menu li a");

    burger.addEventListener("click", () => {
      burger.classList.toggle("active");
      nav.classList.toggle("active");
    });

    links.forEach((link) => {
      link.addEventListener("click", () => {
        burger.classList.remove("active");
        nav.classList.remove("active");
        link.addEventListener("click");
      });
    });
  </script>
</header>

<style>
  /* -------------- MOBILE -------------- */
  @media (max-width: 800px) {
    header {
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      /* background-color: var(--lysgrøn); */
      position: sticky;
    }
    header a {
      text-decoration: none;
      font-size: 75px;
    }
    nav {
      display: flex;
      align-items: center;
    }
    .menu {
      display: flex;
      list-style: none;
      padding: 0;
    }
    .menu a {
      font-family: var(--font1);
      font-weight: 600;
      color: var(--white_100);
      margin-right: 60px;
      padding: 10px 30px 10px 30px;
      border-radius: 6px;
      text-transform: uppercase;
      line-height: 120px;
      word-wrap: break-word;
      background-image: var(--gradientRegnbue);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: fit-content;
    }
    .logo_header a {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    .logo_header img {
      width: 30%;
    }
    .logo_header p {
      font-family: var(--font2);
      /* color: var(--mørkgrøn); */
    }

    .burger {
      width: 48px;
      height: 20px;
      cursor: pointer;
      margin-right: 16px;
    }
    .burger .line {
      width: 50%;
      height: 2px;
      background-color: green;
      margin-bottom: 4px;
      transition: 0.2s linear;
      border-radius: 5px;
    }
    .burger {
      display: none;
    }
    nav li {
      margin: 0;
      padding: 0;
    }

    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
    nav.active .menu {
      display: block;
      background-color: var(--black_90);
      position: absolute;
      left: 0;
      top: 75px;
      width: 100%;
      height: 1000%;
      z-index: 1;
    }
    nav.active .menu li {
      margin-left: 20px;
      margin-top: 8px;
      padding-top: 10px;
    }
    .line {
      margin-right: 50%;
    }
    .logo_header {
      margin-left: 50%;
    }
  }
  /* -------------- DESKTOP -------------- */
  @media (min-width: 800px) {
    .logo_header {
      margin-left: 2%;
      margin-top: 30px;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: var(--nunito);
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
      color: var(--green_100);
    }
    nav {
      display: flex;
      width: 1201px;
      height: 108px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;
    }
    /* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

    /* Laver afstand mellem menupunkterne */
    nav ul li {
      display: inline;
      margin-right: 35px;
    }

    .menu {
      display: flex;
      padding: 0;
      margin-left: 35%;
    }
    nav a {
      text-decoration: none;
      list-style: none;
      color: var(--green_100);
    }
    .dropdown {
      /* position: relative; */
      float: left;
      overflow: hidden;
    }

    .dropdown_button:hover {
      background-color: var(--baggrund_70);
    }
    /* header a:hover  {
    background-color: var(--baggrund_70);
  } */
    .dropdown_content {
      display: none;
      position: absolute;
      background-color: var(--baggrund_70);
      width: 100%;
      height: 40%;
      line-height: 2rem;
    }
    .dropdown_content a {
      display: block;
      text-decoration: none;
      color: var(--green_100);
      top: 5rem;
    }
    .dropdown_content a:hover {
      text-decoration: underline;
      font-weight: bolder;
    }
    .dropdown:hover .dropdown_content {
      display: block;
    }
    .head_icons {
      display: flex;
      position: absolute;
      right: 100px;
    }
    .basket {
      margin-left: 10%;
    }
  }
</style>
