---

---

<header>
  <div class="logo_header">
    <a href="/">
      <img src="/logo_portfolio_trans.svg" alt="logo" />
    </a>
  </div>
  <nav>
    <ul class="menu">
      <li class="dropdown">
        <a class="dropdown_button" href="#">SHOP</a>
        <div class="dropdown_content">
          <a href="/produktliste">ALLE PRODUKTER</a>
          <a href="#">KOPPER</a>
          <a href="#">VASER</a>
          <a href="#">FADE</a>
          <a href="#">SKÅLE</a>
          <a href="#">LYSESTAGER</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="dropdown_button" href="#">KOLLEKTION</a>
        <div class="dropdown_content">
          <a href="#">BLOMSTERKOLLEKTION</a>
          <a href="#">RILLEKOLLEKTION</a>
          <a href="#">PRIKKOLLEKTION</a>
        </div>
      </li>
      <li><a href="/vaerkstedet">VÆRKSTEDET</a></li>
      <li><a href="/kontakt">KONTAKT</a></li>
    </ul>
    <div class="head_icons">
      <iconify-icon icon="ph:heart-thin">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path
            d="M12.8652 2.69995C11.4547 2.69995 10.2198 3.32447 9.44999 4.38011C8.68021 3.32447 7.44528 2.69995 6.03481 2.69995C4.91205 2.70125 3.83564 3.16107 3.04174 3.97852C2.24783 4.79597 1.80125 5.9043 1.79999 7.06035C1.79999 11.9834 8.88922 15.9682 9.19112 16.1328C9.27069 16.1769 9.35963 16.2 9.44999 16.2C9.54034 16.2 9.62929 16.1769 9.70886 16.1328C10.0108 15.9682 17.1 11.9834 17.1 7.06035C17.0987 5.9043 16.6521 4.79597 15.8582 3.97852C15.0643 3.16107 13.9879 2.70125 12.8652 2.69995ZM9.44999 14.9935C8.20276 14.2452 2.89284 10.8363 2.89284 7.06035C2.89393 6.20269 3.2253 5.38046 3.8143 4.774C4.4033 4.16754 5.20184 3.82633 6.03481 3.82522C7.36331 3.82522 8.47871 4.55383 8.94454 5.7241C8.98571 5.82729 9.05574 5.91556 9.14574 5.97767C9.23574 6.03979 9.34164 6.07295 9.44999 6.07295C9.55833 6.07295 9.66424 6.03979 9.75423 5.97767C9.84423 5.91556 9.91427 5.82729 9.95543 5.7241C10.4213 4.55172 11.5367 3.82522 12.8652 3.82522C13.6981 3.82633 14.4967 4.16754 15.0857 4.774C15.6747 5.38046 16.006 6.20269 16.0071 7.06035C16.0071 10.8307 10.6958 14.2445 9.44999 14.9935Z"
            fill="#28725C"></path>
        </svg>
      </iconify-icon>
    </div>
    <div class="head_icons">
      <iconify-icon icon="ph:heart-thin">
        <style data-style="data-style">
          :host {
            display: inline-block;
            vertical-align: 0;
          }
          span,
          svg {
            display: block;
          }
        </style>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
          <path
            d="M12.8652 2.69995C11.4547 2.69995 10.2198 3.32447 9.44999 4.38011C8.68021 3.32447 7.44528 2.69995 6.03481 2.69995C4.91205 2.70125 3.83564 3.16107 3.04174 3.97852C2.24783 4.79597 1.80125 5.9043 1.79999 7.06035C1.79999 11.9834 8.88922 15.9682 9.19112 16.1328C9.27069 16.1769 9.35963 16.2 9.44999 16.2C9.54034 16.2 9.62929 16.1769 9.70886 16.1328C10.0108 15.9682 17.1 11.9834 17.1 7.06035C17.0987 5.9043 16.6521 4.79597 15.8582 3.97852C15.0643 3.16107 13.9879 2.70125 12.8652 2.69995ZM9.44999 14.9935C8.20276 14.2452 2.89284 10.8363 2.89284 7.06035C2.89393 6.20269 3.2253 5.38046 3.8143 4.774C4.4033 4.16754 5.20184 3.82633 6.03481 3.82522C7.36331 3.82522 8.47871 4.55383 8.94454 5.7241C8.98571 5.82729 9.05574 5.91556 9.14574 5.97767C9.23574 6.03979 9.34164 6.07295 9.44999 6.07295C9.55833 6.07295 9.66424 6.03979 9.75423 5.97767C9.84423 5.91556 9.91427 5.82729 9.95543 5.7241C10.4213 4.55172 11.5367 3.82522 12.8652 3.82522C13.6981 3.82633 14.4967 4.16754 15.0857 4.774C15.6747 5.38046 16.006 6.20269 16.0071 7.06035C16.0071 10.8307 10.6958 14.2445 9.44999 14.9935Z"
            fill="#28725C"></path>
        </svg>
      </iconify-icon>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  nav {
    display: flex;
    width: 1201px;
    height: 108px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
  }
  /* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */
  /* Laver afstand mellem menupunkterne */
  nav ul li {
    display: inline;
    margin-right: 20px;
  }

  .menu {
    display: flex;
    list-style: none;
    padding: 0;
  }
  nav a {
    text-decoration: none;
    list-style: none;
  }
  .dropdown {
    position: relative;
  }
  .dropdown_button {
  }
  .dropdown_content {
    display: none;
    position: absolute;
  }
  .dropdown_content a {
    display: block;
    text-decoration: none;
  }
  .dropdown_content a:hover {
  }
  .dropdown:hover .dropdown_content {
    display: block;
  }
</style>
