<!-- Karrusel-indhold -->
<section class="karrusel_container">
  <article class="karrusel_track">
    <div class="karrusel_slide">
      <img width="241" height="241" src="/img/proces1.webp" alt="Første step i arbejdsprocessen" />
      <div class="tal_tekst_flex margen_h_mobil margen_v_mobil">
        <p class="tal">1</p>
        <p>Først formes leret med hænderne ved hjælp af en drejeskive, så den ønskede form skabes.</p>
      </div>
    </div>
    <div class="karrusel_slide">
      <img width="241" height="241" src="/img/proces2.webp" alt="Andet step i arbejdsprocessen" />
      <div class="tal_tekst_flex margen_h_mobil margen_v_mobil">
        <p class="tal">2</p>
        <p>De drejede produkter tørres langsomt, så de bliver stærke, og undgår deformation under første brænding.</p>
      </div>
    </div>
    <div class="karrusel_slide">
      <img width="241" height="241" src="/img/proces3.webp" alt="Tredje step i arbejdsprocessen" />
      <div class="tal_tekst_flex margen_h_mobil margen_v_mobil">
        <p class="tal">3</p>
        <p>Herefter glaseres produkterne. Glasuren består af mineraler, som smelter og danner en glasagtig overflade ved brænding.</p>
      </div>
    </div>
    <div class="karrusel_slide">
      <img width="241" height="241" src="/img/proces4.webp" alt="Første step i arbejdsprocessen" />
      <div class="tal_tekst_flex margen_h_mobil margen_v_mobil">
        <p class="tal">4</p>
        <p>Til slut brændes produkterne i en ovn ved høje temperaturer. Glasuren smelter, og danner en hård, vandtæt overflade.</p>
      </div>
    </div>
  </article>
  <button class="custom_btn prev_btn">
    <span class="arrow">&#8592;</span>
  </button>
  <button class="custom_btn next_btn">
    <span class="arrow">&#8594;</span>
  </button>
</section>
<!-- Grid-indhold -->
<section class="arbejdsproces_container">
  <div class="grid_flex">
    <img width="241" height="241" src="/img/proces1.webp" alt="Første step i arbejdsprocessen" />
    <div class="tal_tekst_flex">
      <p class="tal">1</p>
      <p>Først formes leret med hænderne ved hjælp af en drejeskive, så den ønskede form skabes.</p>
    </div>
  </div>
  <div class="grid_flex">
    <img width="241" height="241" src="/img/proces2.webp" alt="Andet step i arbejdsprocessen" />
    <div class="tal_tekst_flex">
      <p class="tal">2</p>
      <p>De drejede produkter tørres langsomt, så de bliver stærke, og undgår deformation under første brænding.</p>
    </div>
  </div>
  <div class="grid_flex">
    <img width="241" height="241" src="/img/proces3.webp" alt="Tredje step i arbejdsprocessen" />
    <div class="tal_tekst_flex">
      <p class="tal">3</p>
      <p>Herefter glaseres produkterne. Glasuren består af mineraler, som smelter og danner en glasagtig overflade ved brænding.</p>
    </div>
  </div>
  <div class="grid_flex">
    <img width="241" height="241" src="/img/proces4.webp" alt="Første step i arbejdsprocessen" />
    <div class="tal_tekst_flex">
      <p class="tal">4</p>
      <p>Til slut brændes produkterne i en ovn ved høje temperaturer. Glasuren smelter, og danner en hård, vandtæt overflade.</p>
    </div>
  </div>
</section>

<style>
  /* ------------- Karrusel ----------------------- */
  .karrusel_container {
    position: relative;
    overflow: hidden;
  }
  .karrusel_track {
    display: flex;
  }
  .karrusel_slide {
    width: 100%;
    flex: 0 0 100%; /* Viser 1 slide ad gangen */
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }
  .grid_flex {
    display: flex;
    flex-direction: column;
  }
  /* ------------- Knapper ------------- */
  .custom_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-390%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .prev_btn {
    left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .next_btn {
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .arrow {
    font-size: 20px;
  }
  /* ------------- Proces på web ------------- */
  .tal_tekst_flex {
    display: flex;
    margin-top: 20px;
    gap: 13px;
  }
  .tal {
    font-family: var(--nunito);
    font-size: 151px;
    color: var(--green_100);
    font-weight: 200;
    margin-top: 60px;
  }
  .arbejdsproces_container {
    max-width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 51px;
  }

  /* ------------- MOBILE ------------- */
  @media (max-width: 800px) {
    .karrusel_container {
      display: block;
    }
    .arbejdsproces_container {
      display: none;
    }
  }

  /* ------------- DESKTOP ------------- */
  @media (min-width: 800px) {
    .karrusel_container {
      display: none;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const track = document.querySelector(".karrusel_track"); // Sporet, der holder alle slides
    const slides = document.querySelectorAll(".karrusel_slide"); // Alle slides
    const prevBtn = document.querySelector(".prev_btn"); // Knap til forrige slide
    const nextBtn = document.querySelector(".next_btn"); // Knap til næste slide
    const slideWidth = slides[1].offsetWidth; // Bredden af et slide
    const visibleSlides = 1; // Antal synlige slides ad gangen
    let currentIndex = 0; // Aktuel slide index

    // Funktion til at opdatere karusselens position
    function updateCarousel() {
      // Beregner den nye transform værdi baseret på den aktuelle slide's index og bredden af et slide
      const newTransformValue = -currentIndex * slideWidth + "px";
      // Opdater CSS transform property for at flytte karussellen
      track.style.transform = "translateX(" + newTransformValue + ")";
    }

    //Funktion til at gå til næste slide
    function nextSlide() {
      // Forøger det aktuelle slide index med 1
      currentIndex++;
      // Tilføjer en transition for glidende effekt
      track.style.transition = "transform 0.5s ease-in-out";
      // Opdater karusselens position
      updateCarousel();

      // Når vi nærmer os slutningen, gå tilbage til starten uden animation
      if (currentIndex >= slides.length - visibleSlides + 1) {
        // Sæt det aktuelle slide index til 0 (første slide)
        currentIndex = 0;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    // Funktion til at gå til forrige slide, samme metode som fremad, bare med minus i currentIndex
    function prevSlide() {
      currentIndex--;
      track.style.transition = "transform 0.5s ease-in-out";
      updateCarousel();

      if (currentIndex < 0) {
        // Når vi går baglæns forbi det første billede, gå tilbage til slutningen uden animation
        currentIndex = slides.length - 1;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    nextBtn.addEventListener("click", nextSlide);
    prevBtn.addEventListener("click", prevSlide);
  });
</script>
