---
import Card from "../components/Card.astro";

// Henter data'en fra vores API URL
const data = await fetch("https://luvjovwwuzjlkywrsuam.supabase.co/rest/v1/produkt", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dmpvdnd3dXpqbGt5d3JzdWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyNzYyOTQsImV4cCI6MjAzMTg1MjI5NH0.HwPdPpwdrXR9WhOCP1MwJCnXJNM9Kg8hd1YGu_s7lR8",
  },
}).then((res) => res.json());
---

<section class="karrusel_container">
  <article class="karrusel_track">
    <!-- Data hentes fra API'en og gemmes i variablen "data". -->
    <!-- For hver post i data-arrayet oprettes et div-element ("karrusel_slide") med et Card-komponent inden i. 
      Card-komponenten modtager dataen fra det pågældende card og viser det. -->
    {
      data.map((card) => {
        return (
          <div class="karrusel_slide">
            {" "}
            <Card data={card} />
          </div>
        );
      })
    }
  </article>

  <!-- Frem og tilbage knapperne -->
  <button class="custom_btn prev_btn">
    <span class="arrow">&#8592;</span>
  </button>
  <button class="custom_btn next_btn">
    <span class="arrow">&#8594;</span>
  </button>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Definerer konstanter
    const track = document.querySelector(".karrusel_track"); // Sporet, der holder alle slides
    const slides = document.querySelectorAll(".karrusel_slide"); // Alle slides
    const prevBtn = document.querySelector(".prev_btn"); // Knap til forrige slide
    const nextBtn = document.querySelector(".next_btn"); // Knap til næste slide
    const slideWidth = slides[0].offsetWidth; // Bredden af et slide
    const visibleSlides = 4; // Antal synlige slides ad gangen
    let currentIndex = 0; // Aktuel slide index

    // Funktion til at opdatere karusselens position
    function updateCarousel() {
      // Beregner den nye transform værdi baseret på den aktuelle slide's index og bredden af et slide
      const newTransformValue = -currentIndex * slideWidth + "px";
      // Opdater CSS transform property for at flytte karussellen
      track.style.transform = "translateX(" + newTransformValue + ")";
    }

    //Funktion til at gå til næste slide
    function nextSlide() {
      // Forøger det aktuelle slide index med 1
      currentIndex++;
      // Tilføjer en transition for glidende effekt
      track.style.transition = "transform 0.5s ease-in-out";
      // Opdater karusselens position
      updateCarousel();

      // Når vi nærmer os slutningen, gå tilbage til starten uden animation
      if (currentIndex >= slides.length - visibleSlides + 1) {
        // Sæt det aktuelle slide index til 0 (første slide)
        currentIndex = 0;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    // Funktion til at gå til forrige slide, samme metode som fremad, bare med minus i currentIndex
    function prevSlide() {
      currentIndex--;
      track.style.transition = "transform 0.5s ease-in-out";
      updateCarousel();

      if (currentIndex < 0) {
        // Når vi går baglæns forbi det første billede, gå tilbage til slutningen uden animation
        currentIndex = slides.length - 1;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    nextBtn.addEventListener("click", nextSlide);
    prevBtn.addEventListener("click", prevSlide);

    updateCarousel();
  });
</script>

<style>
  .karrusel_container {
    position: relative;
    overflow: hidden;
    padding-top: 2rem;
  }
  .karrusel_track {
    display: flex;
  }
  .karrusel_slide {
    width: 100%;
    flex: 0 0 25%; /* 25% for 4 slides ad gangen på web*/
    display: flex;
    justify-content: center;
    margin: auto;
  }

  /* ------------- Knapper ------------- */
  .custom_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .prev_btn {
    left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .next_btn {
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .arrow {
    font-size: 20px;
  }

  /* ------------- MOBILE -------------*/
  @media (max-width: 800px) {
    .karrusel_slide {
      flex: 0 0 100%; /* viser 1 slide ad gangen på mobil */
    }
  }
</style>
