---
import Card from "../components/Card.astro";

const data = await fetch("https://luvjovwwuzjlkywrsuam.supabase.co/rest/v1/produkt", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1dmpvdnd3dXpqbGt5d3JzdWFtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTYyNzYyOTQsImV4cCI6MjAzMTg1MjI5NH0.HwPdPpwdrXR9WhOCP1MwJCnXJNM9Kg8hd1YGu_s7lR8",
  },
}).then((res) => res.json());
---

<section class="karrusel_container">
  <article class="karrusel_track">
    
      {
        data.map((card) => {
          return (
            <div class="karrusel_slide">
              {" "}
              <Card data={card} />
            </div>
          );
        })
      }
    
  </article>
  <button class="custom_btn prev_btn">
    <span class="arrow">&#8592;</span>
  </button>
  <button class="custom_btn next_btn">
    <span class="arrow">&#8594;</span>
  </button>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const track = document.querySelector(".karrusel_track");
    const slides = document.querySelectorAll(".karrusel_slide");
    const prevBtn = document.querySelector(".prev_btn");
    const nextBtn = document.querySelector(".next_btn");
    const slideWidth = slides[0].offsetWidth;
    const visibleSlides = 4; // Antal synlige billeder
    let currentIndex = 0;

    function updateCarousel() {
      const newTransformValue = -currentIndex * slideWidth + "px";
      track.style.transform = "translateX(" + newTransformValue + ")";
    }

    function nextSlide() {
      currentIndex++;
      track.style.transition = "transform 1s ease-in-out";
      updateCarousel();

      if (currentIndex >= slides.length - visibleSlides + 1) {
        // Når vi nærmer os slutningen, gå tilbage til starten uden animation
        currentIndex = 0;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    function prevSlide() {
      currentIndex--;
      track.style.transition = "transform 1s ease-in-out";
      updateCarousel();

      if (currentIndex < 0) {
        // Når vi går baglæns forbi det første billede, gå tilbage til slutningen uden animation
        currentIndex = slides.length - 1;
        track.style.transition = "none";
        updateCarousel();
      }
    }

    nextBtn.addEventListener("click", nextSlide);
    prevBtn.addEventListener("click", prevSlide);

    updateCarousel();
  });
</script>

<style>
  .karrusel_container {
    position: relative;
    overflow: hidden;
  }
  .karrusel_track {
    display: flex;
  }
  .karrusel_slide {
    width: 100%;
    flex: 0 0 25%;
    display: flex;
  }
  .custom_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

  .prev_btn {
    left: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }

  .next_btn {
    right: 10px;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
  }
  .arrow {
    font-size: 20px;
  }

  /* ------------- MOBILE -------------*/
  @media (max-width: 800px) {
    .karrusel_slide {
      width: 100%;
      display: flex;
      flex: 0 0 70%;
      
    }
  }
</style>
